<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Enviar ficheiro JSON</h1>
	<form action="submit_file.php" method="post" enctype="multipart/form-data">
		<input type="file" name="json_file" accept=".json">
		<br><br>
		<input type="submit" value="Enviar ficheiro">
	</form>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js" integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		// Captura o evento de envio do formulário
		var form = document.querySelector("form");
		form.addEventListener("submit", processForm);
		function processForm(event) {
			event.preventDefault();
			var file = document.querySelector("input[type=file]").files[0];
			var formData = new FormData();
			formData.append("json_file", file);

			$.ajax({
				url: "addJson/add",
				data: formData,
				type: "POST",
				contentType: false,
				processData: false,
				success: function(data) {
					alert(data);
				},
				error: function(error) {
					alert("Erro ao enviar ficheiro!");
				}
			});
		}
	</script>
</body>
</html>
