<!DOCTYPE HTML>
<html>
<head>
    <title>Lista Connectors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Lista Conectores</h1>
	<span id="tabela">

	</span>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js" integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		var tabela = "";

		$.get("connectors/get", function( data ) {
			tabela = data;
		});

		$("#tabela").append(tabela);
	</script>
</body>
</html>
