<!DOCTYPE HTML>
<html>
<head>
    <title>Connectores ordenados por ID</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Connectores ordenados por ID</h1>
	<span id="listagem"></span>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js" integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		$.post("connectorsOrderedID", function( data ) {
			$("#listagem").html(data);
		});
	</script>
</body>
</html>
